/* GREEEN */

/* Color Theme Swatches in Hex */
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-hex {
  color: #034159;
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-hex {
  color: #025951;
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-hex {
  color: #02735E;
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hex {
  color: #038C3E;
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-5-hex {
  color: #0CF25D;
}

/* Color Theme Swatches in RGBA */
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-rgba {
  color: rgba(2, 64, 89, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-rgba {
  color: rgba(1, 89, 80, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-rgba {
  color: rgba(2, 114, 94, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-rgba {
  color: rgba(2, 140, 62, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-5-rgba {
  color: rgba(12, 242, 92, 1);
}

/* Color Theme Swatches in HSLA */
.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-1-hsla {
  color: hsla(196, 94, 18, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-2-hsla {
  color: hsla(174, 96, 17, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-3-hsla {
  color: hsla(168, 96, 22, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-4-hsla {
  color: hsla(146, 96, 28, 1);
}

.Closeup-shot-of-a-hard-soap-with-bubbles-and-beautiful-color-textures-5-hsla {
  color: hsla(140, 90, 49, 1);
}

/*blue*/

/* Color Theme Swatches in Hex */
.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-1-hex {
  color: #011126;
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-2-hex {
  color: #0D448C;
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-3-hex {
  color: #1763A6;
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-4-hex {
  color: #3DADD9;
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-5-hex {
  color: #5ED7F2;
}

/* Color Theme Swatches in RGBA */
.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-1-rgba {
  color: rgba(0, 17, 38, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-2-rgba {
  color: rgba(12, 67, 140, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-3-rgba {
  color: rgba(23, 99, 165, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-4-rgba {
  color: rgba(60, 172, 216, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-5-rgba {
  color: rgba(94, 215, 242, 1);
}

/* Color Theme Swatches in HSLA */
.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-1-hsla {
  color: hsla(213, 96, 7, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-2-hsla {
  color: hsla(213, 83, 29, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-3-hsla {
  color: hsla(208, 75, 37, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-4-hsla {
  color: hsla(196, 67, 54, 1);
}

.digital-innovation:-abstract-blue-tech-concept-for-business-or-science-background-5-hsla {
  color: hsla(191, 85, 66, 1);
}

/*purple*/

/* Color Theme Swatches in Hex */
.CashDash-1-hex {
  color: #6907F2;
}

.CashDash-2-hex {
  color: #610BD9;
}

.CashDash-3-hex {
  color: #471BA6;
}

.CashDash-4-hex {
  color: #361973;
}

.CashDash-5-hex {
  color: #1D1340;
}

/* Color Theme Swatches in RGBA */
.CashDash-1-rgba {
  color: rgba(105, 7, 242, 1);
}

.CashDash-2-rgba {
  color: rgba(96, 10, 216, 1);
}

.CashDash-3-rgba {
  color: rgba(70, 26, 165, 1);
}

.CashDash-4-rgba {
  color: rgba(53, 25, 114, 1);
}

.CashDash-5-rgba {
  color: rgba(28, 19, 63, 1);
}

/* Color Theme Swatches in HSLA */
.CashDash-1-hsla {
  color: hsla(264, 94, 48, 1);
}

.CashDash-2-hsla {
  color: hsla(264, 90, 44, 1);
}

.CashDash-3-hsla {
  color: hsla(258, 72, 37, 1);
}

.CashDash-4-hsla {
  color: hsla(258, 63, 27, 1);
}

.CashDash-5-hsla {
  color: hsla(253, 53, 16, 1);
}
