#container {
  background-color: #471BA6;
}

#container>div {
  background-color: #361973;
}

#container>div>div {
  background-color: #1D1340;
}

#container h1,
h2,
h3,
h4 {
  color: #7D3DFC;
}

.grid {
  padding: 10px;
  border-top: dotted;
  border-bottom: dotted;
  color: #7D3DFC;
  font-weight: bold;
  display: grid;
  width: 98%;
  height: 100%;
  grid-template-columns: 300px 300px 300px 300px;
}

.dev-project-item {
  display: block;
  border: none;
}
