#container {
  padding: 0px 4% 0px 4%;
  background-color: #471BA6;
  animation: Appear 1s;
}

#container>div {
  padding: 0px 5% 0px 5%;
  background-color: #361973;
}

#container>div>div {
  padding: 2%;
  background-color: #1D1340;
}

.grid {
  color: #7D3DFC;
  font-weight: bold;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: auto auto auto auto;
}

.dev-project-item {}
