<div id="container" class="">
  <div>
    <div>
      <h1>Projects</h1>
      <div class="grid">
        <ng-container *ngFor="let row of projects">
          <a (click)="getProject(row)" class="dev-project-item">
            <span class="icon {{row.color}}">{{row.icon}}</span><br>
            <label>{{row.title}}<span *ngIf="row.inProgress" class="red" style="font-size:medium;"><br>[In
                progress]</span></label>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div id="loader-container" class="no-content">
  <div class="pad-loading">
    <div class="binding"></div>
    <div class="pad">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="loader"></div>
  </div>
</div>
<ng-container *ngComponentOutlet="
  this.ProjectDisplayType
  inputs: {projectSelected: this.projectSelected, code:'', gitContent: this.gitFilesContent, father: this};
  " id="container_project">
</ng-container>
