#container {
  background-color: #471BA6;
}

#container>div {
  background-color: #361973;
}

#container>div>div {
  background-color: #1D1340;
}

#container h1,
h2,
h3,
h4 {
  color: #7D3DFC;
}


.no-content {
  opacity: 0;
  position: fixed;
}


.grid {
  padding: 10px;
  border-top: dotted;
  border-bottom: dotted;
  color: #7D3DFC;
  font-weight: bold;
  display: grid;
  width: 98%;
  height: 100%;
  grid-template-columns: 300px 300px 300px 300px;
}

.dev-project-item {
  display: block;
  border: none;
  font-size: 20px;
  text-align: center;
  padding: 4px;
}


.dev-project-item:hover {
  border: 1px solid #471BA6;
  border-radius: 0.5em;
}

/**
  display: flex;
 * #region Loader
 */

#loader-container {
  padding-top: 10%;
  align-content: center;
  width: 100%;
}

.pad-loading {
  width: 200px;
  margin: auto;
}

.pad-loading .binding {
  content: '';
  width: 27px;
  height: 4px;
  border: 2px solid white;
  margin: 0 auto;
}

.pad-loading .pad {
  width: 15px;
  height: 18px;
  border: 2px solid white;
  border-top: 0;
  padding: 6px;
  margin: 0 auto;
}

.pad-loading .line {
  width: 15px;
  margin-top: 4px;
  border-top: 2px solid white;
  opacity: 0;
  -webkit-animation: writeline 3s infinite ease-in;
  -moz-animation: writeline 3s infinite ease-in;
  -o-animation: writeline 3s infinite ease-in;
  animation: writeline 3s infinite ease-in;
}

.pad-loading .line:first-child {
  margin-top: 0;
}

.pad-loading .line.line1 {
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  animation-delay: 0s;
}

.pad-loading .line.line2 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.pad-loading .line.line3 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }

  33% {
    width: 15px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }

  33% {
    width: 15px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }

  33% {
    width: 15px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes writeline {
  0% {
    width: 0px;
    opacity: 0;
  }

  33% {
    width: 15px;
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.loader {
  width: fit-content;
  font-weight: bold;
  font-family: main_font;
  text-shadow:
    0 0 0 rgb(255 0 0),
    0 0 0 rgb(0 255 0),
    0 0 0 rgb(0 0 255);
  font-size: 30px;
  animation: l32 1s infinite cubic-bezier(0.5, -2000, 0.5, 2000);
}

.loader:before {
  content: "Loading... Please Wait";
}

@keyframes l32 {

  25%,
  100% {
    text-shadow:
      0.03px -0.01px 0.01px rgb(255 0 0),
      0.02px 0.02px 0 rgb(0 255 0),
      -0.02px 0.02px 0 rgb(0 0 255);
  }
}

/**
 * endregion
 * */

/**#region Displayer
 * */

#project_info {
  padding: 2%;
  text-align: justify;
  font-size: 20px;
  width: 100%;
  max-width: 1900px;
  font-family: project_font;

  position: relative;
  box-sizing: border-box;

  color: #FFF;
  background: #000;
  background-clip: padding-box;
  /* !importanté */
  border: solid 5px transparent;
  /* !importanté */
  border-radius: 1em;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(217deg, #6907F2, #361973 70.71%),
      linear-gradient(127deg, rgba(0, 255, 0, .8), rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, .8), rgba(0, 0, 255, 0) 70.71%);
    /*background: linear-gradient(to bottom right, #6907F2, #1D1340);*/
  }
}

#repo_project_displayer {
  margin: auto;
  width: 100%;
  border: 3px solid purple;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#tree {
  display: block;
  flex: 20%;
  height: 100%;
  border: 3px solid purple;
  margin: 0px;
  list-style: none;
  padding: 10px;
}

#tree li {
  display: block;
}

#tree li:hover {
  background-color: purple;
}

#code {
  display: block;
  flex: calc(80% - 50px);
  border: 3px solid purple;
  margin: 0px;
  padding: 10px;
}

#code pre {
  display: inline;
}


#displayer h1,
h2,
h3,
h4 {
  color: #7a20f8;
  text-shadow: #9852fa 3px;
}

#displayer h1 {
  font-size: 45px;
  text-align: center;
}
