<div id="container" class="">
  <div>
    <div>
      <h2>Projects</h2>
      <div class="grid">
        <ng-container *ngFor="let row of projects">
          <a (click)="displayProject(row)" class="dev-project-item">
            <span class="icon {{row.color}}">{{row.icon}}</span><br>
            <label>{{row.title}}<span *ngIf="row.inProgress" class="red" style="font-size:medium;"><br>[In
                progress]</span></label>
          </a>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<div id="loader-container" class="no-content">
  <div class="pad-loading">
    <div class="binding"></div>
    <div class="pad">
      <div class="line line1"></div>
      <div class="line line2"></div>
      <div class="line line3"></div>
    </div>
    <div class="loader"></div>
  </div>
</div>

<div id="displayer" class="no-content">
  <div id="project_info">
    <h1>Hola</h1>
    <p>Hola, buenas tardes este es mi proyecto personal</p>
    <label>Current Directory: <a>/</a></label>
    <div id="repo_project_displayer">
      <ul id="tree">
        <li (click)='this.displayFile("/src/app/app.component.ts")'>cosa1.2</li>
      </ul>
      <div id="code">
        <pre>{{code}}</pre>
      </div>
    </div>
  </div>

</div>
