<header id="main_header">
  <div id="display_menu_btn_container">
    <img src="resources/images/icons/menu_icon.png" (click)="onDisplayMenu()">
  </div>
  <div id="main_title_container">
    <h1>Nohadon Files</h1>
  </div>
</header>
<nav id="main_menu_navigation" class="main_menu_navigation">
  <a class="page_section home" routerLink="" routerLinkActive="true">
    <p> Home</p>
  </a>
  <a class="page_section dev_projects" routerLink="DevelopmentProjects" routerLinkActive="true">
    <p> Development Projects</p>
  </a>
  <a class="page_section nohad_engine" routerLink="NohadEngine" routerLinkActive="true">
    <p>󱎓 NohadEngine</p>
  </a>
  <a class="page_section dev_graph" routerLink="GraphicsDevelopment" routerLinkActive="true">
    <p> Graphics Development</p>
  </a>
  <a class="page_section about_me" routerLink="AboutMe" routerLinkActive="true">
    <p>󱥒 About me</p>
  </a>
</nav>
<section id="main_section">
  <router-outlet></router-outlet>
</section>
