#container {
  background-color: #0367A6;
}

#container>div {
  background-color: #024873;
}

#container>div>div {
  background-color: #012840;
}

#container h1,
h2,
h3,
h4 {
  color: #41D2F2;
}

#container p {
  font-size: 20px;
}
