<div id="container">
  <div>
    <div>
      <h1>Welcome to Nohadon Files!</h1>
      <br><br>
      <h2>Who I Am and Why Nohadon Files?</h2>
      <p>My name is <span class="blue">Pol Gonzalo, I'm a Java / Kotlin Software Engineer and I'm currently working in
          Barcelona</span>. <br><br>Nohadon Files is my digital portfolio. My motivation is
        to share and document each step of my projects for 2 reasons: to show my professional skills and also to learn
        and grow my knowledge, as I
        believe that each piece of code, each algorithm, each
        framework or engine is a valuable learning experience. Here, you’ll find
        everything from small technical pieces
        of code to large projects where I strive to innovate. <span class="blue">I particularly enjoy OOP
          with ( Java / Kotlin / C++ ), graphics development and Game development</span>,
        exploring the finer details of how technology can become a top-tier visual and functional experience.</p>
      <br><br>
      <h2>What is this page about?</h2>
      <p>The main purpouses of Nohadon Files are: to show my main professional skills with Java / Kotlin
        development, and to learn about new Technologies, Languages, Algorithms, etc.</p>
      <p>It’s a space where I share my passion for software development and innovation through my projects. Here, you'll
        find everything from experimental concepts and small programming projects to large-scale developments that push
        the boundaries of what’s possible with current technology. I am a software developer and game developer too, and
        each section of this site reflects my dedication to these topics.</p>
      <br><br>
      <h2>Sections of Nohadon Files</h2>
      <br>
      <h3>Development Project</h3>
      <span>Software Development Project Languages:</span><span class="purple icon"></span><span
        class="red icon"></span><span class="blue icon"></span><span class="yellow icon">󰌠</span><span
        class="blue icon"></span><span class="yellow icon"></span><span class="blue icon">󰛦</span><br><br>
      <span>Game Development: </span><span class="white icon">󰚯</span><span class="white icon">󰦱</span><span
        class="blue icon"></span><span class="blue icon"></span>
      <br><br>
      <span class="blue">Concepts:
        <ul>
          <li>OOP: Object Oriented Programming</li>
          <li>Libraries & Frameworks</li>
          <li>Algorithms</li>
          <li>Design Patterns</li>
          <li>Optimization</li>
          <li>Game Development</li>
        </ul>
      </span>
      <p>This is the section for experimentation and discovery. In Development Projects, I post small code
        repositories,
        each focusing on demonstrating or experimenting with some interesting programming technique, concept, or
        paradigm. Here you’ll find a lot of examples using various <span class="blue"><b>frameworks working in Java,
            Kotlin, C# or Python</b></span>, and
        ideas like multithreading
        and
        design patterns like: <span class="blue"><b>Singleton, Observer, Factory, etc</b></span>. This section not
        only
        showcases my technical
        skills but also aims to provide practical examples
        that might inspire or guide other developers.</p>
      <br>
      <h3>NohadEngine: A Game Engine Development Project</h3>
      <span>Languages:</span><span class="blue icon"></span>
      <p>NohadEngine is the cornerstone project that defines my goals in game engine development. It’s a game engine
        written in C++ that I’ve been dedicating significant time and effort to. In this section, I’ll share updates
        on
        its progress, technical details, and my approach to optimizing its performance and graphical capabilities.
        This
        project represents a central piece of my learning journey, and I’m excited to show how it’s coming together,
        along with the challenges and discoveries I encounter along the way.</p>
      <br>
      <h3>Graphics Development</h3>
      <span>Languages:</span><span class="blue icon"></span>
      <p>Graphics programming is one of my greatest passions. In the Graphics Development section, you’ll find shaders
        and graphical techniques developed in C++ and OpenGL. Here, I explore how to maximize graphics hardware to
        achieve visual effects that enhance user experience. Each shader is a piece of work on its own, and in this
        section, you’ll see not only the final results but also my processes, learnings, and technical insights behind
        each visual effect.</p>
      <br>
      <h3>About Me <span class="purple icon"></span></h3>
      <p>In About Me, I share more about who I am as a person. Beyond the technical side, I talk about my interests,
        passions, favorite movies, series, and music. This section provides insight into the things that inspire me
        and
        fuel my creativity. You’ll also learn why I chose this unique aesthetic for my page, as it represents my
        personal style and the tone I want to set in my work. Here, you’ll get a glimpse into the person behind
        Nohadon
        Files, helping you understand the experiences and tastes that drive my projects.</p>
    </div>
  </div>
</div>
