/**#region Displayer
 * */

.displayer {
  width: 100%;
}

#project_info {
  padding: 2%;
  text-align: justify;
  font-size: 20px;
  width: 100%;
  font-family: project_font;

  position: relative;
  box-sizing: border-box;

  color: #FFF;
  background: #000;
  background-clip: padding-box;
  /* !importanté */
  border: solid 5px transparent;
  /* !importanté */
  border-radius: 1em;


  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -5px;
    /* !importanté */
    border-radius: inherit;
    /* !importanté */
    background: linear-gradient(217deg, #6907F2, purple 91%);
    /*background: linear-gradient(to bottom right, #6907F2, #1D1340);*/
  }
}

#repo_project_displayer {
  margin-top: 10px;
  padding: 5px;
  width: 100%;
  border: 3px solid purple;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#tree {
  display: block;
  flex: 25%;
  height: 100%;
  border: 3px solid #6907F2;
  margin: 0px;
  list-style: none;
  padding: 10px;
}

#tree li {
  margin: 5px;
  display: block;
  user-select: none;
  font-size: 20px;
}

#tree li:hover {
  background-color: #6907F2;
}

#code {
  display: block;
  flex: calc(75% - 50px);
  border: 3px solid #6907F2;
  margin: 0px;
  padding: 10px;
}

#code pre {
  display: inline;
  white-space: pre-wrap;
}


#displayer h1,
h2,
h3,
h4 {
  color: #7a20f8;
  text-shadow: #9852fa 3px;
}

#displayer h1 {
  font-size: 45px;
  text-align: center;
}

.no-content {
  opacity: 0;
  position: fixed;
}

.json {
  color: #ffff00;
}

.json::before {
  content: "";
}

.css {
  color: #F28F16;
}

.css::before {
  content: "";
}

.html {
  color: #1BB5F2;
}

.html::before {
  content: "";
}

.ts {
  color: #0F88F2;
}

.ts::before {
  content: "";
}

.dir {
  color: #0FFFE3;
}

.dir::before {
  content: "";
}
