/*#region VariablesAndOtherSpecialProperties*/

:root {
  --display-nav: flex;
}

::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-track-piece {
  background-color: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

/*#endregion*/

/*#region Fonts*/

@font-face {
  src: url("../resources/fonts/HackNerdFont-Regular.ttf");
  font-family: main_font;
}

@font-face {
  src: url("../resources/fonts/HackNerdFont-Bold.ttf");
  font-family: main_font_bold;
}

@font-face {
  src: url("../resources/fonts/HackNerdFont-Italic.ttf");
  font-family: main_font_italic;
}

@font-face {
  src: url("../resources/fonts/HackNerdFont-BoldItalic.ttf");
  font-family: main_font_bitalic;
}

@font-face {
  src: url("../resources/fonts/HackNerdFontMono-Regular.ttf");
  font-family: title_main_font;
}

@font-face {
  src: url("../resources/fonts/HackNerdFontMono-Bold.ttf");
  font-family: title_main_font_bold;
}

@font-face {
  src: url("../resources/fonts/HackNerdFontMono-Italic.ttf");
  font-family: title_main_font_italic;
}

/*#endregion*/

/*#region Keyframes*/

@keyframes NavigationSectionHover {

  0% {
    background-color: black;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

/*#endregion*/

/*#region Html&Body*/

html {
  width: 100%;
  height: 100%;
}

body {
  margin: 10px;
  padding: 0px;
  background-color: black;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  max-height: 100%;
  max-width: 100%;
  color: white;
  overflow-block: visible;
  font-family: main_font;
}

/*#endregion*/

/*#region Header*/

#main_header {
  height: 13%;
  max-height: 120px;
  min-height: 120px;
  display: flex;
}

#main_title_container {
  height: 100%;
  vertical-align: middle;
  align-content: center;
  font-family: title_main_font_bold;
  flex: 100%;
}

#main_title_container h1 {
  text-align: center;
}

#display_menu_btn_container {
  flex: 20%;
  display: none;
  align-content: center;
}

/*#endregion*/

/*#region Navigation*/

#main_menu_navigation {
  display: var(--display-nav);
  border: solid white 2px;
  padding: 0px;
  height: 5%;
  flex-direction: row;
  min-height: 60px;
  width: 100%;
  justify-content: space-around;
  margin: 0px;
  box-sizing: border-box;
}

.page_section {
  display: block;
  flex: 20%;
  height: 100%;
  min-height: 40px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 100%;
}

.page_section:hover {
  animation: NavigationSectionHover 0.5s forwards;
}

/*#endregion*/

/*#region Section*/
#main_section {
  height: 80%;
  margin: 20px 3% 10px 3%;
}

.blue {
  text-decoration: bold;
  color: #41D2F2;
}

.red {
  text-decoration: bold;
  color: #D92534;
}

.purple {
  color: #5A30F2;
}

.green {
  color: #0CF25D;
}

.white {
  color: white;
}

.yellow {
  color: yellow;
}

.icon {
  font-size: 40px;
  margin: 0px 10px 0px 10px;
}

#container {
  padding: 0px 4% 0px 4%;
  animation: Appear 1s;
}

#container>div {
  padding: 0px 5% 0px 5%;
}

#container>div>div {
  padding: 2%;
}

#container h1,
h2,
h3,
h4 {
  text-decoration: bold;
}

#container h1 {
  text-align: center;
  font-size: 40px;
}

#container h2 {
  margin-left: 6%;
}

#container h3 {
  margin-left: 4%;
  text-decoration: underline;
}

#container h4 {
  margin-left: 2%;
}

#container p {
  text-align: justify;
  font-size: 18px;
}

/*#endregion*/

/*#region Media*/
@media screen and (max-width: 700px) {

  #main_section {
    height: 87%;
  }

  #main_menu_navigation {
    flex-direction: column;
    min-height: fit-content;
    transition: all 0.5s;
  }

  #main_title_container {
    flex: 80%;
  }

  #display_menu_btn_container {
    display: block;
  }

  #display_menu_btn {
    margin-left: 20%;
    background-color: black;
    width: 30%;
    padding: 0px;
  }

  /**
  * BUTTON MENU NOT PRESSED
  */
  .main_menu_navigation {
    position: fixed;
    opacity: 0;
  }

  .main_menu_navigation a {
    display: none;
  }

  /**
  * BUTTON MENU PRESSED
  */
  .main_menu_navigation.show {
    position: static;
    transform: 0;
    opacity: 1;
  }

  .main_menu_navigation.show a {
    display: block;
  }
}

/*#endregion*/

/*#region Keyframes*/
@keyframes Iris {
  0% {
    text-shadow: -2px 2px 10px #D92534, -1px 1px 10px #F29F05, 0px 0px 10px #0CF25D, 1px 0px 10px #41D2F2, 2px 0px 10px #5A30F2;
  }

  20% {
    text-shadow: 2px 1px 10px #F29F05, 1px 0.5px 10px #0CF25D, 0px 0px 10px #41D2F2, -1px 0px 10px #5A30F2, -2px 0px 10px #D92534;
  }

  40% {
    text-shadow: -2px 0px 10px #0CF25D, -1px 0px 10px #41D2F2, 0px 0px 10px #5A30F2, 1px 0px 10px #D92534, 2px 0px 10px #F29F05;
  }

  60% {
    text-shadow: 2px -1px 10px #41D2F2, 1px -0.5px 10px #5A30F2, 0px 0px 10px #D92534, -1px 0px 10px #F29F05, -2px 0px 10px #0CF25D;
  }

  80% {
    text-shadow: -2px -2px 10px #5A30F2, -1px -1px 10px #D92534, 0px 0px 10px #F29F05, -1px 0px 10px #0CF25D, -2px 0px 10px #41D2F2;

  }

  100% {}
}

@keyframes Appear {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

/*#endregion*/
